
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tournaments</title>
    </head>
    <body>
        <h1>Tournaments</h1>
        <nav>
            {% if user.is_authenticated %}
                <p>Oh, hi {{ user.username }}</p>
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <p><a href="{% url 'users:login' %}">Login</a></p>
            {% endif %}
        </nav>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>